<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>UI_img_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{340,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,183}}</string>
                <key>sourceSize</key>
                <string>{340,183}</string>
            </dict>
            <key>UI_img_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,188},{69,183}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,183}}</string>
                <key>sourceSize</key>
                <string>{69,183}</string>
            </dict>
            <key>UI_img_2.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,2},{128,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{128,184}}</string>
                <key>sourceSize</key>
                <string>{128,184}</string>
            </dict>
            <key>UI_img_3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,188},{120,184}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,184}}</string>
                <key>sourceSize</key>
                <string>{120,184}</string>
            </dict>
            <key>UI_stop_0.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,2},{33,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{33,46}}</string>
                <key>sourceSize</key>
                <string>{33,46}</string>
            </dict>
            <key>UI_stop_1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{44,50}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{44,50}}</string>
                <key>sourceSize</key>
                <string>{44,50}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>gameUI.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aa15c148411230b3f6c935415ca857ae$</string>
            <key>textureFileName</key>
            <string>gameUI.png</string>
        </dict>
    </dict>
</plist>
